<link rel="stylesheet/less" type="text/css" href="./bricks/component/panel/panel.less">


<div class="row margin-top">
    <div class="col-md-6">

        <div class="ub-panel">
            <div class="head">
                <div class="title">按钮</div>
            </div>
            <div class="body">
                <div class="margin-top">
                    <button class="btn btn-lg">按钮</button>
                    <button class="btn btn-lg btn-primary">按钮</button>
                    <button class="btn btn-lg btn-success">按钮</button>
                    <button class="btn btn-lg btn-danger">按钮</button>
                    <button class="btn btn-lg btn-warning">按钮</button>
                </div>
                <div class="margin-top">
                    <button class="btn">按钮</button>
                    <button class="btn btn-primary">按钮</button>
                    <button class="btn btn-success">按钮</button>
                    <button class="btn btn-danger">按钮</button>
                    <button class="btn btn-warning">按钮</button>
                </div>
                <div class="margin-top">
                    <button class="btn btn-sm">按钮</button>
                    <button class="btn btn-sm btn-primary">按钮</button>
                    <button class="btn btn-sm btn-success">按钮</button>
                    <button class="btn btn-sm btn-danger">按钮</button>
                    <button class="btn btn-sm btn-warning">按钮</button>
                </div>
            </div>
        </div>

    </div>

</div>



