<link rel="stylesheet/less" type="text/css" href="./bricks/component/list/list.less"/>

<div class="block-breaker"></div>

<div class="ub-container">
    <div class="ub-list">
        <div class="head">
            <div class="more">
                <a href="#">更多</a>
            </div>
            <div class="title">
                标题对对对
            </div>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-3 col-12">
                    <div class="item-a">
                        <a class="icon" href="#">
                            <img data-src="placeholder/200x200"/>
                        </a>
                        <a class="title" href="#">标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="item-a">
                        <a class="icon" href="#">
                            <img data-src="placeholder/200x200"/>
                        </a>
                        <a class="title" href="#">标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="item-a">
                        <a class="icon" href="#">
                            <img data-src="placeholder/200x200"/>
                        </a>
                        <a class="title" href="#">标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="item-a">
                        <a class="icon" href="#">
                            <img data-src="placeholder/200x200"/>
                        </a>
                        <a class="title" href="#">标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="item-a">
                        <a class="icon" href="#">
                            <img data-src="placeholder/200x200"/>
                        </a>
                        <a class="title" href="#">标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="item-a">
                        <a class="icon" href="#">
                            <img data-src="placeholder/200x200"/>
                        </a>
                        <a class="title" href="#">标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="item-a">
                        <a class="icon" href="#">
                            <img data-src="placeholder/200x200"/>
                        </a>
                        <a class="title" href="#">标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="item-a">
                        <a class="icon" href="#">
                            <img data-src="placeholder/200x200"/>
                        </a>
                        <a class="title" href="#">标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-breaker"></div>

<div class="ub-container">
    <div class="ub-container-row">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="ub-list">
                    <div class="head">
                        <div class="more">
                            <a href="#">更多</a>
                        </div>
                        <div class="title">
                            标题对对对
                        </div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <a class="item-b" href="#">阿萨德法师打发斯蒂芬</a>
                            </div>
                            <div class="col-md-6 col-12">
                                <a class="item-b" href="#">阿萨德法师打发斯蒂芬</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="ub-list">
                    <div class="head">
                        <div class="more">
                            <a href="#">更多</a>
                        </div>
                        <div class="title">
                            标题对对对
                        </div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <a class="item-b" href="#">阿萨德法师打发斯蒂芬</a>
                            </div>
                            <div class="col-md-6 col-12">
                                <a class="item-b" href="#">阿萨德法师打发斯蒂芬</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="ub-list">
                    <div class="head">
                        <div class="more">
                            <a href="#">更多</a>
                        </div>
                        <div class="title">
                            标题对对对
                        </div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <a class="item-b" href="#">阿萨德法师打发斯蒂芬</a>
                            </div>
                            <div class="col-md-6 col-12">
                                <a class="item-b" href="#">阿萨德法师打发斯蒂芬</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-breaker"></div>

<div class="ub-container">
    <div class="ub-list">
        <div class="head">
            <div class="more">
                <a href="#">更多</a>
            </div>
            <div class="title">
                文章列表
            </div>
        </div>
        <div class="body">
            <a class="item-c" href="#">阿斯顿发送到发送到发送到分</a>
            <a class="item-c" href="#">阿斯顿发送到发送到发送到分</a>
            <a class="item-c" href="#">阿斯顿发送到发送到发送到分</a>
            <a class="item-c" href="#">阿斯顿发送到发送到发送到分</a>
            <a class="item-c" href="#">阿斯顿发送到发送到发送到分</a>
        </div>
    </div>
</div>


<div class="block-breaker"></div>

<div class="ub-container">
    <div class="ub-list">
        <div class="head">
            <div class="more">
                <a href="#">更多</a>
            </div>
            <div class="title">
                文章列表
            </div>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="item-d">
                        <a class="title" href="#">标题标题</a>
                        <div class="attr">
                            分类：
                            <a href="#">哈哈</a>
                        </div>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="item-d">
                        <a class="title" href="#">标题标题</a>
                        <div class="attr">
                            分类：
                            <a href="#">哈哈</a>
                        </div>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-breaker"></div>

<div class="ub-container">
    <div class="ub-list">
        <div class="head">
            <div class="more">
                <a href="#">更多</a>
            </div>
            <div class="title">
                标题对对对
            </div>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-3 col-12">
                    <div class="item-e">
                        <a class="cover" href="#"
                           style="background-image:url();" data-src data-background-src="placeholder/200x200"></a>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="item-e">
                        <a class="cover" href="#"
                           style="background-image:url();" data-src data-background-src="placeholder/200x200"></a>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="item-e">
                        <a class="cover" href="#"
                           style="background-image:url();" data-src data-background-src="placeholder/200x200"></a>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="item-e">
                        <a class="cover" href="#"
                           style="background-image:url();" data-src data-background-src="placeholder/200x200"></a>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-breaker"></div>

<div class="ub-container">
    <div class="ub-list">
        <div class="head">
            <div class="more">
                <a href="#">更多</a>
            </div>
            <div class="title">
                文章列表 item-f
            </div>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="item-f">
                        <div class="date">
                            <div class="day">9</div>
                            <div class="month">9月</div>
                        </div>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="item-f">
                        <div class="date">
                            <div class="day">9</div>
                            <div class="month">9月</div>
                        </div>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="item-f">
                        <div class="date">
                            <div class="day">9</div>
                            <div class="month">9月</div>
                        </div>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="summary">
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                            阿斯顿发送到发送到发送到分
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-breaker"></div>

<div class="ub-container">
    <div class="ub-list">
        <div class="head">
            <div class="more">
                <a href="#">更多</a>
            </div>
            <div class="title">
                文章列表 item-f
            </div>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-12 col-12">
                    <a class="item-video" href="#">
                        <img style="width:100%;" data-src="placeholder/200x50"/>
                        <div class="mask">
                            <div class="box">
                                <i class="iconfont icon-play3"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-breaker"></div>

<div class="ub-container">
    <div class="ub-list no-bg">
        <div class="head">
            <div class="more">
                <a href="#">更多</a>
            </div>
            <div class="title">
                文章列表 item-f
            </div>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="item-video-cover">
                        <a class="cover" href="#"
                           style="background-image:url();" data-src data-background-src="placeholder/600x400"></a>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="category">
                            <div class="stat">
                                <a href="#">
                                    <i class="iconfont icon-play3"></i>
                                    333
                                </a>
                                <a href="#">
                                    <i class="iconfont icon-thumbsoup"></i>
                                    333
                                </a>
                            </div>
                            <a href="#">分类A</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="item-video-cover">
                        <a class="cover" href="#"
                           style="background-image:url();" data-src data-background-src="placeholder/600x400"></a>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="category">
                            <div class="stat">
                                <a href="#">
                                    <i class="iconfont icon-play3"></i>
                                    333
                                </a>
                                <a href="#">
                                    <i class="iconfont icon-thumbsoup"></i>
                                    333
                                </a>
                            </div>
                            <a href="#">分类A</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="item-video-cover">
                        <a class="cover" href="#"
                           style="background-image:url();" data-src data-background-src="placeholder/600x400"></a>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="category">
                            <div class="stat">
                                <a href="#">
                                    <i class="iconfont icon-play3"></i>
                                    333
                                </a>
                                <a href="#">
                                    <i class="iconfont icon-thumbsoup"></i>
                                    333
                                </a>
                            </div>
                            <a href="#">分类A</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="item-video-cover">
                        <a class="cover" href="#"
                           style="background-image:url();" data-src data-background-src="placeholder/600x400"></a>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="category">
                            <div class="stat">
                                <a href="#">
                                    <i class="iconfont icon-play3"></i>
                                    333
                                </a>
                                <a href="#">
                                    <i class="iconfont icon-thumbsoup"></i>
                                    333
                                </a>
                            </div>
                            <a href="#">分类A</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="item-video-cover">
                        <a class="cover" href="#"
                           style="background-image:url();" data-src data-background-src="placeholder/600x400"></a>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="category">
                            <div class="stat">
                                <a href="#">
                                    <i class="iconfont icon-play3"></i>
                                    333
                                </a>
                                <a href="#">
                                    <i class="iconfont icon-thumbsoup"></i>
                                    333
                                </a>
                            </div>
                            <a href="#">分类A</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="item-video-cover">
                        <a class="cover" href="#"
                           style="background-image:url();" data-src data-background-src="placeholder/600x400"></a>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="category">
                            <div class="stat">
                                <a href="#">
                                    <i class="iconfont icon-play3"></i>
                                    333
                                </a>
                                <a href="#">
                                    <i class="iconfont icon-thumbsoup"></i>
                                    333
                                </a>
                            </div>
                            <a href="#">分类A</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="item-video-cover">
                        <a class="cover" href="#"
                           style="background-image:url();" data-src data-background-src="placeholder/600x400"></a>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="category">
                            <div class="stat">
                                <a href="#">
                                    <i class="iconfont icon-play3"></i>
                                    333
                                </a>
                                <a href="#">
                                    <i class="iconfont icon-thumbsoup"></i>
                                    333
                                </a>
                            </div>
                            <a href="#">分类A</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="item-video-cover">
                        <a class="cover" href="#"
                           style="background-image:url();" data-src data-background-src="placeholder/600x400"></a>
                        <a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a>
                        <div class="category">
                            <div class="stat">
                                <a href="#">
                                    <i class="iconfont icon-play3"></i>
                                    333
                                </a>
                                <a href="#">
                                    <i class="iconfont icon-thumbsoup"></i>
                                    333
                                </a>
                            </div>
                            <a href="#">分类A</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-breaker"></div>

<div class="ub-container">
    <div class="ub-list">
        <div class="head">
            <div class="more">
                <a href="#">更多</a>
            </div>
            <div class="title">
                标题对对对
            </div>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-3 col-12">
                    <a class="item-g" href="#">
                        <div class="icon">
                            <img data-src="placeholder/200x200"/>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
                <div class="col-md-3 col-12">
                    <a class="item-g" href="#">
                        <div class="icon">
                            <img data-src="placeholder/200x200"/>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
                <div class="col-md-3 col-12">
                    <a class="item-g" href="#">
                        <div class="icon">
                            <img data-src="placeholder/200x200"/>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
                <div class="col-md-3 col-12">
                    <a class="item-g" href="#">
                        <div class="icon">
                            <img data-src="placeholder/200x200"/>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
                <div class="col-md-3 col-12">
                    <a class="item-g" href="#">
                        <div class="icon">
                            <img data-src="placeholder/200x200"/>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
                <div class="col-md-3 col-12">
                    <a class="item-g" href="#">
                        <div class="icon">
                            <img data-src="placeholder/200x200"/>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
                <div class="col-md-3 col-12">
                    <a class="item-g" href="#">
                        <div class="icon">
                            <img data-src="placeholder/200x200"/>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
                <div class="col-md-3 col-12">
                    <a class="item-g" href="#">
                        <div class="icon">
                            <img data-src="placeholder/200x200"/>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-breaker"></div>

<div class="ub-container">
    <div class="ub-list">
        <div class="head">
            <div class="more">
                <a href="#">更多</a>
            </div>
            <div class="title">
                标题对对对
            </div>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-3 col-12">
                    <a class="item-h" href="#">
                        <div class="icon">
                            <img data-src="placeholder/200x200"/>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
                <div class="col-md-3 col-12">
                    <a class="item-h" href="#">
                        <div class="icon">
                            <img data-src="placeholder/200x200"/>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
                <div class="col-md-3 col-12">
                    <a class="item-h" href="#">
                        <div class="icon">
                            <img data-src="placeholder/200x200"/>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
                <div class="col-md-3 col-12">
                    <a class="item-h" href="#">
                        <div class="icon">
                            <img data-src="placeholder/200x200"/>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
                <div class="col-md-3 col-12">
                    <a class="item-h" href="#">
                        <div class="icon">
                            <i class="iconfont icon-cny1"></i>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
                <div class="col-md-3 col-12">
                    <a class="item-h" href="#">
                        <div class="icon">
                            <i class="iconfont icon-cny1"></i>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
                <div class="col-md-3 col-12">
                    <a class="item-h" href="#">
                        <div class="icon">
                            <i class="iconfont icon-cny1"></i>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
                <div class="col-md-3 col-12">
                    <a class="item-h" href="#">
                        <div class="icon">
                            <i class="iconfont icon-cny1"></i>
                        </div>
                        <div class="title">标题标题</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-breaker"></div>